body{

    background-color: lavender;
    font-family: 'Times New Roman', Times, serif;

}

h1{

    font-family: Arial;
    color: blue;
    font-size: 30px;

}



.profile{

    width: 400px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid black;
    background-color: wheat;
    text-align: center;

}



.profile img{

    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}



.info{

    font-size: 18px;
    color: darkred;

}



#bio{

    font-size: 1em;
    color: rgb(54, 54, 7);

}


.header{

    text-align: center;
    padding: 15px;
    background-color: lightblue;
    border-bottom: 2px solid black;
    margin-bottom: 20px;

}

.footer{

    margin-top: 40px;
    padding: 10px;
    text-align: center;
    border-top: 2px solid black;
    background-color: lightgray;

}